/* Base styles */
body {
  margin: 0;
  font-family: 'Fira Mono', monospace;
  background-color: #f9f8f4;
  color: #222;
  text-align: center;
}

h1 {
  font-family: 'Fira Mono', monospace;
  margin-top: 2rem;
  font-size: 1.5rem;
}


.horizontal-rule {
  border: 1px solid; 
  width: 50%; 
  margin: 20px auto;
}

.hero {
  margin: 2rem auto;
  padding: 0 1rem;
}

.hero-image {
  max-width: 40%;
  /* border-radius: 1.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
}

.caption {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #333;
}

/* Icon Menu */
.icon-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;
}

.icon-menu img {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease, filter 0.2s ease;
  border-radius: 50%;
}

.icon-menu img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}



/* Responsive text */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
    margin: 1.8rem;
  }

  .hero-image {
  max-width: 90%;
  /* border-radius: 1.5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
  }

  .caption {
    font-size: 0.80rem;
  }

  .icon-menu img {
    width: 48px;
    height: 48px;
  }
}

/* About Page Layout */

.about-title {
    /* font-family: 'Playfair Display', serif; */
    font-size: 2rem;
    margin-top: 2rem;
    /* color: #2a3b5d; */
  }

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem 3rem;
  gap: 2rem;
}

.about-text {
  flex: 1 1 400px;
  max-width: 600px;
  text-align: left;
  font-size: 0.95rem;
  line-height: 1.6;
}

.about-text h2 {
  margin-top: 1.5rem;
  font-family: 'Fira Mono', monospace;
  font-size: 1.3rem;
}

.intro-box {
  background-color: #ccc;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 0.95rem;
}

.journey-list {
  padding-left: 1.2rem;
}

.interests {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 0.5rem;
}

.interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 135px;
}

.interest img {
  width: 55px;
  height: 55px;
  margin-bottom: 0.1rem;
}

.art-section {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ink-art {
  max-width: 90%;
  /* border-radius: 1rem;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1); */
}

.curriculum-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
}

.curriculum-btn{
  background-color: #a58f34;
  color: #f9f8f4;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Fira Mono', monospace;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.curriculum-btn:hover{
   background-color: #8a782c;
   transform: scale(1.05);
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    text-align: center;
  }

  .interests {
    
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
  }

  .interest {
    width: 60px;
  }

  .interest img {
    width: 58px;
    height: 58px;
    margin-bottom: 0.3rem;
  }

  .ink-art {
    max-width: 110%;
    /* border-radius: 1rem;
    box-shadow: 0 1px 10px rgba(0,0,0,0.1); */
  }

}

  /* Gallery Section */
  .memories-title {
    /* font-family: 'Playfair Display', serif; */
    font-size: 2rem;
    margin-top: 2rem;
    /* color: #2a3b5d; */
  }

  .gallery-intro {
    background-color: #c2c2c2;
    margin: 1rem auto 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    max-width: 850px;
    font-size: 0.95rem;
    color: #1a1a1a;
    font-family: 'Fira Mono', monospace;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
  }
  .gallery-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 0rem;
    padding: 2rem;
  }

  .gallery-item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-item-img {
    width: 100%;
    /* border-radius: 0.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15); */
  }


  .arrow-icon {
    width: 20px;
    margin-right: 0.5rem;
  }

  .captiongallery {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    font-family: 'Fira Mono', monospace;
    font-size: 0.9rem;
    color: #222;
  }

  .captiongallery.gold {
    color: #9a8324;
  }


  /* Arte intermedio */
  .gallery-art img {
    width: 250px;
    height: auto;
    /* opacity: 0.8; */
  }

  /* Modal Styles */
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 1rem;
  }

  #modal-caption {
    text-align: center;
    color: #f1f1f1;
    padding: 0.5rem;
    font-family: 'Fira Mono', monospace;
    font-size: 1rem;
  }

  .close {
    position: absolute;
    top: 30px;
    right: 45px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }


  /* Responsive */
  @media screen and (max-width: 768px) {
    .gallery-container {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 1.5rem;
    }

    .gallery-section{
      gap: 0rem;
      padding: 2rem;
    }

    .gallery-art img {
      width: 150px;
      margin: 1.5rem 0;
    }

    .gallery-intro {
      margin: 1rem auto 1rem;
      padding: 1rem 1rem;
      border-radius: 1rem;
      max-width: 300px;
      font-size: 0.80rem;
    }

    /* .gallery-item {
      max-width: 800px;
    } */

    .gallery-item-img {
      width: 120%;
      /* border-radius: 0.5rem;
      box-shadow: 0 2px 6px rgba(0,0,0,0.15); */
    }

    .modal {
      padding-top: 14rem;
      align-items: center;
      
    }
    .modal-content {
      max-width: 90%;
      max-height: 90%;
      border-radius: 1rem;
    }

    .close {
      top: 11rem;
      right: 1rem;
    }

  }


  /* Ideas Section */
.ideas-title {
  /* font-family: 'Playfair Display', serif; */
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.ideas-tabs {
  display: flex;
  justify-content: center;
  margin: 1rem auto 2rem;
  gap: 1rem;
}

.tab {
  background-color: #d4cda3;
  padding: 0.8rem 2rem;
  border-radius: 4px;
  font-family: 'Fira Mono', monospace;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s ease;
}

.tab.active {
  font-weight: bold;
  background-color: #c5bb91;
}

.tab:hover {
  background-color: #e0d9ae;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.project-card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  max-width: 280px;
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: scale(1.03);
}

.image-placeholder {
  align-items: center;
  background-color: #ffffff;
  /* height: 150px; */
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.image-placeholder img{
  width: 100%;
}

.card-info {
  padding: 1rem;
  text-align: center;
  font-family: 'Fira Mono', monospace;
}

.card-icon {
  width: 45px;
  margin-bottom: 0.5rem;
}

.card-info h3 {
  font-size: 1.1rem;
  margin: 0.2rem 0;
}

.card-info p {
  font-size: 0.80rem;
  color: #555;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .ideas-tabs {
    flex-direction: column;
    align-items: center;
  }

  .tab {
    width: 70%;
    text-align: center;
  }
}


